html, body {
    height: 100%;
    margin: 0px;
}

#time-left {
    padding-right: 0.5rem;
}

.orange-background {
    background-color: rgb(244,128,36);
}

.white-text {
    color: white;
    font-size: large;
}

a:hover, .choice:hover {
    color: white;
    font-weight: 500;
}

a:active, .choice:active {
    color: rgb(230, 201, 178);
    transform: translateY(2px);
}

.choice {
    border-radius: 5px;
    width: 100%;
    margin: 2px 0;
}
