html, body {
    height: 100%;
    margin: 0px;
}

#time-left {
    padding-right: 0.5rem;
}

.orange-background {
    background-color: rgb(244,128,36);
}

.white-text {
    color: white;
    font-size: large;
}

a:hover, .quiz-choice:hover {
    color: white;
    font-weight: 500;
}

a:active, .quiz-choice:active {
    color: rgb(230, 201, 178);
    transform: translateY(2px);
}

.full-width {
    width: 100%;
}

.quiz-choice, .choice, #next, #submit {
    border-radius: 5px;
    margin: 2px 0;
}
.choice, #penalty-alert {
    background-color: white;
    color: black;
}
.choice:hover, #next:hover, #submit:hover {
    font-weight: 500;
}
.choice:active, #next:active, #submit:active {
    transform: translateY(2px);
}
#next, #penalty-alert {
    float: right;
    display: none;       /* Hiding the next button when question is displayed and showing it only when an option is clicked */
}

#line {
    display: none;
}
#answer {
    float: left;
}